body{
font-family:Arial;
background:#87ceeb;
transition:0.5s;
}

.container{
width:400px;
margin:50px auto;
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

select{
padding:10px;
border-radius:8px;
}

.card{
margin-top:20px;
padding:20px;
background:#eee;
border-radius:10px;
}
